html {
    background: linear-gradient(90deg, #f5f3e2, #B0A8B9);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

:root {
  font-size: 16px;
  --color-primary: #aa3ccb; /* purple */
  --color-secondary: #9e21aa; /* darker purple */
  --color-accent: #d4e7f9; /* bg color:hover */
  --color-text: #621a78; /* purp active */
  --color-background: #FFFFFF; /* white */
}
 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
}

.heading-image {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.nav-bar {
    display: flex;
    width: 80%;
    justify-content: space-between;
    transition: 200ms transform, 200ms font-weight;
}

.nav-bar > a:hover {
  transform: scale(1.2);
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .nav-bar {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .nav-bar {
    gap: 20px;
    width: 80%;
    display: block;

  }
}

.nav-tab {
    border: 1px solid black;
    width: 190px;
    height: 70px;
    font-family: "Playwrite GB S", cursive;
    font-size: 26px;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 40%;
    color: #d4e7f9;
    position: relative;
    background-color: var(--color-primary);
    align-content: center;
    box-shadow: 3px 3px 3px 3px var(--color-secondary);
    transition: 800ms color, 800ms background-color
    }

    .nav-tab:hover {
      color: var(--color-primary);
      background-color: #d4e7f9;
    }

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }

    @keyframes SlideInLeft {
      from {
        transform: translateX(-3000px);
      }

      to {
        transform: translateX(0);
      }
    }

    @media screen and (max-width: 600px) {
      .nav-tab {
        flex-wrap: wrap;
      }
    }

    @media (max-width: 480px) {
      .main-body {
        border: none;
      }

      .nav-tab {
        display: block;
        width: 100%;
        margin-top: 10px;
        
      }

      .home-div {
        display: flex;
        flex-direction: column;
      }

      .img-home {
        width: 800px;
        height: fit-content;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
      }
    }
/*
    .home-tab {
        background: #C34A36;
        
    }
    .homework-tab {
        background: #C34A36;
        
    }
    .resources-tab {
        background: #C34A36;
        
    }
    .worksheet-tab {
        background: #C34A36;
        
    }
    .posts-tab {
        background: #C34A36;
        
    }
*/  

    .active {
        /* Styles for the element */
        background-color: #621a78;
        
        box-shadow: 3px 3px 3px 3px var(--color-secondary);
        transition: all 800ms ease-in-out;
    }

    .active:hover {
        box-shadow: 0 0 10px #4B4453, 3px 3px 20px 3px var(--color-secondary);
        color: #621a78;
        background-color: #d4e7f9;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        background-color: #B0A8B9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 5px;
    }

    /* :hover {
        display: block;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    } */

    .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.nav-tab:hover .dropdown-content {
  display: block;
  z-index: 99;
}

.nav-tab:focus .dropdown-content {
  display: block;
  z-index: 99;
}

.fade-box {
    position: relative;
    overflow: hidden;
  }
  
  .fade-box::before,
  .fade-box::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px; /* Adjust the width of the fade effect */
    z-index: 1;
    pointer-events: none; /* Allows clicks to pass through the gradient */
  }
  
  .fade-box::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
  
  .fade-box::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }

  .main-body {
    border: 3px solid #5c3063f4;
    border-radius: 10px;
    width: 65%;
    padding: 30px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }

  .home-div {
    width: 100%;
    height: fit-content;
    display: flex;
  }

  .img-1 {
    justify-content: space-between;
  }

  .img-1 h5 {
    font-size: 45px;
    margin: 10px 5px 40px 5px;
    display: flex;
  }

  .img-1 h6 {
    font-size: 25px;
    margin: 5px;
  }

  .img-home {
    width: 40%;
    padding: 0 30px;
    background-color: #ffffff38;
    border-radius: 5px;
    font-size: 1.25rem;
  }

  @media  (max-width: 600px) {
    .img-home {
      width: 80%;
      padding: 0 5px;
    }

    .dropdown-content {
      z-index: 2;
    }
  }

  .img-home ul li {
    display: flex;
    flex-direction: column;
  }

  .img-home li {
    margin: 10px 0;
  }

  .img-home li a {
    color: #cd2fe6;
  }

  .img-home li a:hover {
    color: #b646c0;
  }

  .class-rules {
    background: url(./Images/classrules\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid rgba(63, 63, 63, 0.912);
    border-radius: 10px;
    width: 78%;
    height: 80%;
    padding: 40px;
    font-size: 23px;
    box-shadow: 7px 7px 5px rgb(57, 41, 25);
    margin-top: 20px;
    transition: scale 200ms;
    display: flex;
    flex-direction: column;
  }

  .class-rules p {
    margin: 10px;
  }

  .class-rules:hover {
    scale: 1.2;
  }

  .attributes {
    width: 30%;
    height: 60%;
    margin: 50px;
    background: linear-gradient(45deg, #ff8066af, #FF8066);
    border: 10px solid #C34A36;
    padding: 10px;
    font-size: 1.25rem;
    transition: scale 200ms;
  }

  .attributes:hover {
    scale: 1.2;
  }

  .class-rules-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: fit-content;
    flex-direction: column;
    background-color: #d1ceceb4;
  }

  .class-rules-box img {
    margin: 70px 0;
    padding: 20px 0;
    transition: scale 200ms;
  }

  .class-rules-box img:hover {
    scale: 1.2;
  }

  .class-rules span, .attributes span {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    .class-rules-box {
      width: 95%;
    }

    .attributes {
      width: 90%;
    }

    .class-rules-box img {
      margin: 20px 0;
      padding: 5px 0;
    }
  }

  .footer {
    width: 100%;
    height: 120px;
  }

  .footer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 4px;
  }
  
  .main {
    width: 80%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./Images/TRY\ YOUR\ BEST\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px;
}

.unit {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.unit:hover {
    animation: twitch 400ms;
}

@keyframes twitch {
  0%, 100% {
  transform: rotateZ(0deg);
  }

  50% {
  transform: rotateZ(3deg);
  }
}

.checkbox {
    display: none;
    background-color: linear-gradient();
}

.homepage-imgquote img{
  width: 100%;
  transition: scale 200ms;
}

.homepage-imgquote img:hover {
  scale: 1.2;
}

.heading-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 170px;
    height: 100px;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    border-radius: 40%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.5);
    background-color: #b360ddf8;
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
}

.heading-box span {
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  padding: 4px;
}

.page {
    width: 80%;
    height: fit-content;
    padding: 1.5rem;
    backdrop-filter: blur(8px);
    background-image: linear-gradient(120deg, #ffffff2f, #e260fc4a);
    border-radius: 0 9px 20px 20px;
    display: none;
    gap: 20px;
}

.page a {
  color: #0f0f0f;
}

.checkbox:checked ~ .page {
    display: flex;
    transition: max-width 0.5s ease-in;
}

@media (max-width: 600px) {
  .checkbox:checked ~ .page {
    display: flex;
    flex-direction: column;
  }

  .main {
    width: 100%;
  }

  .heading-box {
    width: 170px;
    height: 100px;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    border-radius: 40%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.5);
    background-color: #b360ddf8;
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
}

.checkbox:checked ~ .heading-box > span {
  font-size: small;
}

.checkbox:checked ~ .heading-box {
  font-size: small;
  background-color: #ce95ebf8;
}

}

.unit span {
  text-align: center;
}

.unit-content {
    flex: 1;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background-color: #b0a8b999;
    display: flex;
    flex-direction: column;
    transition: 200ms;
}

.unit-content a {
  margin-top: 10px;
  font-size: 1.2rem;
}

.unit-content:hover {
scale: 1.2;
flex: 2;
}

.page a:hover {
  color: var(--color-secondary);
}

.main > :first-child {
    font-size: 4rem;
    text-decoration: underline;
}

h4 {
    font-size: 1.5rem;
}



